---
layout: page
title: Archivo
description: Posts ordenados por fecha.
---

<h1>Archivo</h1>
<hr>

{% for post in site.posts %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture this_month %}
  {% assign this_month = post.date | date: '%-m' %}
  {% case this_month %}
    {% when '1' %}Enero
    {% when '2' %}Febrero
    {% when '3' %}Marzo
    {% when '4' %}Abril
    {% when '5' %}Mayo
    {% when '6' %}Junio
    {% when '7' %}Julio
    {% when '8' %}Agosto
    {% when '9' %}Septiembre
    {% when '10' %}Octubre
    {% when '11' %}Noviembre
    {% when '12' %}Diciembre
  {% endcase %}
{% endcapture %}
{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
{% capture next_month %}
  {% assign next_month = post.previous.date | date: '%-m' %}
  {% case next_month %}
    {% when '1' %}Enero
    {% when '2' %}Febrero
    {% when '3' %}Marzo
    {% when '4' %}Abril
    {% when '5' %}Mayo
    {% when '6' %}Junio
    {% when '7' %}Julio
    {% when '8' %}Agosto
    {% when '9' %}Septiembre
    {% when '10' %}Octubre
    {% when '11' %}Noviembre
    {% when '12' %}Diciembre
  {% endcase %}
{% endcapture %}

{% if forloop.first %}
      <h2>{{ this_year }}</h2>
      <h3 class="text-secondary">{{ this_month }}</h3>
      <ul>
{% endif %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> {% if post.author %} • {{ post.author }}{% endif %}{% if post.date %} • {{ post.date | date: "%d/%m/%Y" }}{% endif %}</li>
{% if forloop.last %}
      </ul>
{% else %}
  {% if this_year != next_year %}
      </ul>
      <h2>{{ next_year }}</h2>
      <h3 class="text-secondary">{{ next_month }}</h3>
      <ul>
  {% else %}
    {% if this_month != next_month %}
      </ul>
      <h3 class="text-secondary">{{ next_month }}</h3>
      <ul>
    {% endif %}
  {% endif %}
{% endif %}
{% endfor %}
