---
layout: default
---

{% include structuredData_index.html %}

<div class="card-columns">
  {% for post in paginator.posts %}
  <div class="card">
    {% if post.image.path %}
    <img class="card-img-top img-fluid" src="{{ post.image.path | prepend: site.baseurl }}" alt="{{ post.title }}" title="{{ post.title }}">
    {% endif %}
    <div class="card-block">
      {% if post.title %}
      <h4 class="card-title">{{ post.title }}</h4>
      {% endif %}
      {% if post.description %}
      <p class="card-text">{{ post.description }}</p>
      {% endif %}
      {% if post.url %}
      <p class="text-xs-center"><a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary">Leer más</a></p>
      {% endif %}
      <nav class="nav nav-inline">
      {% if post.date %}
        <div class="nav-item"><i class="fa fa-calendar" aria-hidden="true"></i><small class="text-muted"> {{ post.date | date: "%d/%m/%Y" }}</small></div>
      {% endif %}
      {% if post.tags %}
        <div class="nav-item"><i class="fa fa-tags" aria-hidden="true"></i><small class="text-muted"> {{ post.tags | join: ', ' }}</small></div>
      {% endif %}
      </nav>
    </div>
  </div>
  {% endfor %}
</div>
<div class="card-block">
  <nav class="blog-pagination text-xs-center">
    {% if paginator.previous_page %}
    <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" rel="prev">&laquo;</a>
    {% else %}
    <a class="btn btn-outline-secondary disabled" href="#">&laquo;</a>
    {% endif %}
    <a class="btn btn-outline-secondary disabled" href="#">Página: {{ paginator.page }} de {{ paginator.total_pages }}</a>
    {% if paginator.next_page %}
    <a class="btn btn-outline-primary" href="{{ paginator.next_page_path | prepend: site.baseurl }}" rel="next">&raquo;</a>
    {% else %}
    <a class="btn btn-outline-secondary disabled" href="#">&raquo;</a>
    {% endif %}
  </nav>
</div>
</div>
