---
layout: default
---

<div class="row">
  <div class="col-md-8" itemscope itemtype="http://schema.org/Blog">
    <meta itemprop="name" content="{{ site.title }}">
    {% for post in paginator.posts %}
    <div class="card" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="card-header"><h4><a href="{{ post.url | prepend: site.baseurl }}" itemprop="url"><span itemprop="name headline">{{ post.title }}</span></a></h4></div>
      <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ site.title }}">
        <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
          <meta itemprop="url" content="{{ site.favicon_192x192 | prepend: site.baseurl | prepend: site.url }}">
          <meta itemprop="height" content="192">
          <meta itemprop="width" content="192">
        </span>
      </span>
      <meta itemprop="mainEntityOfPage" content="{{ site.baseurl | prepend: site.url }}">
      <div class="card-block">
        <nav class="nav nav-inline">
          {% if post.author %}
          {% assign author = site.data.authors[post.author] %}
          <div class="nav-item">
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="{{ author.name }}">
            </span>
            <small class="text-muted"><i class="fa fa-user" aria-hidden="true"></i> {{ author.name }}</small>
          </div>
          {% endif %}
          {% if post.date %}
            {% if post.date_modified %}
            {% assign modified = post.date_modified %}
            {% else %}
            {% assign modified = post.date %}
            {% endif %}
          <div class="nav-item">
            <meta content="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
            <meta content="{{ modified | date_to_xmlschema }}" itemprop="dateModified">
            <small class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i>
              {{  post.date | date: '%-d' }} de
              {% assign m = post.date | date: '%-m' %}
              {% case m %}
                {% when '1' %}enero
                {% when '2' %}febrero
                {% when '3' %}marzo
                {% when '4' %}abril
                {% when '5' %}mayo
                {% when '6' %}junio
                {% when '7' %}julio
                {% when '8' %}agosto
                {% when '9' %}septiembre
                {% when '10' %}octubre
                {% when '11' %}noviembre
                {% when '12' %}diciembre
              {% endcase %}
              de {{  post.date | date: '%Y' }}
            </small>
          </div>
          {% endif %}
          {% if post.tags %}
          <div class="nav-item">
            <small class="text-muted"><i class="fa fa-tags" aria-hidden="true"></i> {{ post.tags | join: ', ' }}</small>
          </div>
          {% endif %}
        </nav>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
              <meta itemprop="url" content="{{ site.favicon_192x192 | prepend: site.baseurl | prepend: site.url }}">
              <meta itemprop="height" content="192">
              <meta itemprop="width" content="192">
            </span>
            <img class="img-post" src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ post.categories | first }}">
          </div>
          <div class="col-md-8">
            <p class="card-text" itemprop="description">{{ post.description }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="card-block">
      <nav class="blog-pagination text-xs-center">
        {% if paginator.previous_page %}
        <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" rel="prev">&laquo;</a>
        {% else %}
        <a class="btn btn-outline-secondary disabled" href="#">&laquo;</a>
        {% endif %}
        <a class="btn btn-outline-secondary disabled" href="#">Página: {{ paginator.page }} de {{ paginator.total_pages }}</a>
        {% if paginator.next_page %}
        <a class="btn btn-outline-primary" href="{{ paginator.next_page_path | prepend: site.baseurl }}" rel="next">&raquo;</a>
        {% else %}
        <a class="btn btn-outline-secondary disabled" href="#">&raquo;</a>
        {% endif %}
      </nav>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><strong>Twitter</strong></div>
      <div class="card-block">
        <a class="twitter-timeline" href="https://twitter.com/dalanzg" data-widget-id="463016837706289152">Tweets por @dalanzg</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class="card">
      <div class="card-header"><strong>Strava</strong></div>
      <div class="card-block">
        <div class="strava">
          <div class="embed-responsive embed-responsive-strava">
            <iframe allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/174259/latest-rides/ba4bcd37075ad684092c50f15ebcd469566e2d95?show_rides=true'></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
