---
layout: default
---

{% assign author = site.data.authors[page.author] %}
{% if page.date_modified %}
{% assign modified = page.date_modified %}
{% else %}
{% assign modified = page.date %}
{% endif %}

{%
  include structuredData_blogpost.html
  headline=page.title
  tags=page.tags
  author=author
  description=page.description
  datePublished=page.date
  dateModified=modified
  image=page.image
  content=page.content
  link=page.url
%}

<div class="card">
  <h1 class="card-header">{{ page.title }}</h1>
  <div class="card-block">
    <nav class="nav nav-inline">
      {% if page.author %}
      <div class="nav-item">
        <small class="text-muted"><i class="fa fa-user" aria-hidden="true"></i> {{ author.name }}</small>
      </div>
      {% endif %}
      {% if page.date %}
      <div class="nav-item">
        <small class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i>
          {{  page.date | date: '%-d' }} de
          {% assign m = page.date | date: '%-m' %}
          {% case m %}
            {% when '1' %}enero
            {% when '2' %}febrero
            {% when '3' %}marzo
            {% when '4' %}abril
            {% when '5' %}mayo
            {% when '6' %}junio
            {% when '7' %}julio
            {% when '8' %}agosto
            {% when '9' %}septiembre
            {% when '10' %}octubre
            {% when '11' %}noviembre
            {% when '12' %}diciembre
          {% endcase %}
          de {{  page.date | date: '%Y' }}
        </small>
      </div>
      {% endif %}
      {% if page.tags %}
      <div class="nav-item">
        <small class="text-muted"><i class="fa fa-tags" aria-hidden="true"></i> {{ page.tags | join: ', ' }}</small>
      </div>
      {% endif %}
    </nav>
  </div>
  <div class="card-block" itemprop="articleBody">
    {{  content }}
  </div>
  <div class="card-block">
    {% include disqus.html %}
  </div>
  <div class="card-block">
    <nav class="text-xs-center" aria-label="Page navigation">
      <ul class="pagination">
        {% if page.previous.url %}
        <li class="page-item">
          <a class="page-link" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous" rel="prev">
            <span aria-hidden="true">&laquo; Post previo</span>
            <span class="sr-only">&laquo; Post previo</span>
          </a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item">
          <a class="page-link" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next" rel="next">
            <span aria-hidden="true">Siguiente post &raquo;</span>
            <span class="sr-only">Siguiente post &raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
